.wrapper{
    width: 100%;
    height: 5.6rem;
    display: flex;
    color: red;
    align-items: center;
    // position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    a{
        display:flex;
        align-items: center;
    }
    .Menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.logo{
    width: 112px;
    height: 28px;
    min-height: 32.5px;
}
.Menu{
    height: 100%;
    .btn-list{
        height: 100%;
        align-items: center;
        a{
            height: 100%;
        }
    }
}
