@import "../../../Mixin/mixin.scss";
.wrapper{
    width: 100%;
    height: 5.6rem;
    display: flex;
    position: sticky;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 30;
    transition: background-color .3s linear;

    a{
        display:flex;
        align-items: center;
    }
    .Menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    @include tabletAndMoblie{
        justify-content: space-between!important;
        .Menu{
            display: none;
        }
        .Btn-Menu{
            display: block;
        }
    }

    
}
   
.logo{
    width: 112px;
    height: 28px;
    min-height: 32.5px;
}
.Menu{
    height: 100%;
    .btn-list{
        height: 100%;
        align-items: center;
        a{
            height: 100%;
        }
    }
}
.Btn-Menu{
    display: none;
    background: transparent;
    color: #fff;
    font-size: 2.5rem;
    padding: 12px;
    &:hover{

    }
}
.OffcanvasWrapper{
    background-color: #0b1e30!important;
    // .Menu{
        //     // display: flex;
        //     // flex-direction: column;
        // }
}
.OffSetMenu{
    display: none;
}