.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &h1{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
.sections{
    display: flex;
    border-radius: 4px;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #0b1e30;
    margin-bottom: 4rem;
    span{
        text-transform: uppercase;

    }
    button{
        background-color: transparent;
        color: var(--white);
        padding: 10px 12px;
        overflow: hidden;
        position: relative;
        font-size: 1.5rem;
        max-width: 264px;
        min-width: 160px;
        &:target{
            background-color: #0b1e30;
        }
    }
    .selected{
        color: #3f51b5;
        border-radius: 0;
        border-bottom: 2px solid #3f51b5;
        transition: 0.5s;
    }
    

}