
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    .UserInsign{
        height: 100%;
        background-color: transparent ;
    }
    &:hover .UserInsign
        {
            background-color: #102c48;
    
        }
    
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin-right: 5px;
    }
    svg{
        color: #428bca;
        // width: 0.7rem;
        // height: 0.7rem;
        font-size: 1.25rem;
    }
}
