.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #1b3c5d;
    padding-bottom: 0.2em;
    padding-left: calc(0 - var(--bs-gutter-x) * .5)!important;
    margin-bottom: 0.5em;
    margin-top: 1rem!important;

    span{
        color: #b1a21e;
        font-family: Oswald,sans-serif;
        font-size: 1.5em;
        text-shadow: 1px 1px 1px #1a1a1a;
        text-transform: uppercase;
    }
}