.wrapper{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    .image{
        display: inline-block;
        margin: 2px 2px 0.5em;
        figure{
            height: 120px;
            width: 120px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
        }
    }
    .character{
        color: #7a7a7a
    }    
}