.wrapper{
    background-image: url(../../../../asstes/images/footer-bg.jpg);
    padding: 3rem 1.5rem 6rem;
    margin: auto;
    color: var(--text-color);
    .title{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        a{
            color: #428bca;
            cursor: pointer;
            &:hover{
                color:#dcf836;
            }
        }
    }
    .list{
        margin: 2em;
        list-style-type: circle;
        color: #b5b5b5;
        font-size: 1.4rem;
    }
    .contact{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        

    }
}